# Ignorer les clés privées Google
client_secret.json

# Ignorer l'environnement virtuel Python
venv/
.venv/
__pycache__/

# Ignorer les fichiers archivés
index.html.old
## identifiants de l;application google cloud console
client_secret_1008918750567-58cas4v87v43ua9lskp244rf1o5kgd0p.apps.googleusercontent.com.json